<div class="container">
  <h1>Sign Up</h1>
  <%= erb :errors %>
  <form id="sign-up" method="post" action="/users">
  	<div class="form-group">
	    <label for="usernameInput">Name</label>
	    <input type="text" name="user[username]" placeholder="e.g., joe" id="usernameInput">
	</div>
	<div class="form-group">
	    <label for="emailInput">Email</label>
	    <input type="email" name="user[email]" placeholder="e.g., me@example.com" id="emailInput">
	</div>
	<div class="form-group">
	    <label for="passwordInput">Password</label>
	    <input type="password" name="user[pre_password]" placeholder="6 or more characters" id="passswordInput">
	</div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>