<h1><%= @user.username %> Edit Page</h1>

<form action="/#{@user.username}" method="post">
	<input type="hidden" name="_method" value="put">
	
	<div class="form-group">
		<label>Description</label>
		<textarea name="profile[:description]"><%= @profile.description %></textarea>
	</div>
	
	<div class="form-group">
		<label>Tagline</label>
		<input type="text" name="profile[:tagline]">
	</div>

	<div class="form-group">
		<label>Video URL (Youtube)</label>
		<input type="text" name="video_url">
		</div>

	<div class="form-group">
		<label>Photo URL </label>
		<input type="text" name="photo_url">
		</div>

	<input type="submit" value="update">
</form>